/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
/* inner클래스를 통해 블럭내부에서 배치를한다. */
.inner {
  width: 1100px;
  margin: 0 auto;
  /* 내부에서 위치를 잡아야하기 때문에 추가 */
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  /* a태그나 span태그에 부여했을때도 똑같이 부여되도록 */
  display: block;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* 그냥 버튼 보다 더 우선순위가 높다. */
.btn.btn--reverse {
  color: #fff;
  border-color: #333;
}

.btn.btn--reverse:hover {
  color: #333;
  background-color: transparent;
}

.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold :hover{
  color: #fff;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn--white {
  color: #333;
  background-color: #FFF;
}

/* HEADER */
header {
  /* position: relative; */
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /*일반적인 block요소와 달리
   position fixed와 absolute는 가로 넓이가 최소한으로 줄어들려고 한다. */
  position: fixed;
  top: 0;
  z-index: 9;
}
/* 메인 메뉴의 inner가 영향을 받으면 안되기 때문에, 자식요소를 선택하는 >를 추가 */
header > .inner {
  /* width: 1100px; */
  height: 120px;
  /* margin: 0 auto; */
  /* background-color: orange; */
  /* position: relative; */
}

header .logo {
  height: 75px;
  /* 부모요소를 기준으로 위치 배치 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
   /* auto는 브라우저가 margin을 자동 계산 위의 설정해준 기준값에서 가운데 정렬 해준다.
  근데 하나 값이 더 필요한게, 바로 요소의 높이값을알아야 정렬해준다. */
  margin: auto;
  /* 거슬리면 잠시 꺼둘수 있다. */
  /* display: none; */
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}
/* 서브메뉴 사이에 선 넣기 */
header .sub-menu ul.menu li::before {
  /* 값이 없어도 무조건 있어야 가상 요소 사용가능 */
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* 부모 li 기준 수직 가운데 정렬 
    position absolute는 요소를 블럭으로 변하게한다.
  */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/* 서브메뉴 첫번쨰 구분선 제거 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  /* background-color: red; */
  padding: 11px 16px;
  display: block;
  color: #656565;

}

header .sub-menu ul.menu li a:hover  {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  /* 요소의 크기 기준을 34, 36에 맞춘다.
  패딩이 추가되어도 넓이 높이가 바뀌지 않음 */
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
} 

header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  transition: .4s;
}

/* 일치선택자로 focused추가 */
/* focued가 추가되면 아이콘이 안보이게 하기 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item{

}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* 드롭다운 메뉴인 item__content에도 영향이 가야하기 때문에 여기에 hover */
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  /* 좌상단, 우상단만 모서리 깎기 */
  border-radius: 6px 6px 0 0;
}

/* 서브 메뉴 */
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none ;
}

/* 메인 메뉴에 마우스 올렸을때 보이기 */
header .main-menu .item:hover .item__contents{
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

/* contents_menu안에는 ul태그가 2개 들어있기 떄문에, 
  하위선택자로 하면, contents_menu안에있는 모든 ul태그가 다 영향을 받는다.
  바로 자식에 해당하는 ul태그만 명시
*/
/* 메인 메뉴의 서브 메뉴 컨테이너*/
header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding: 20px 0;
}
/* 각 서브메뉴 */
header .main-menu .item .item__contents .contents__menu > ul > li{
  width: 220px;
}
/* 서브메뉴 제목 */
header .main-menu .item .item__contents .contents__menu > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

/* 서브 메뉴의 내부 컨테이너 */
header .main-menu .item .item__contents .contents__menu > ul > li ul{

}
/* 서브메뉴 내부 컨테이너의 리스트 */
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url(../images/main_menu_pattern.jpg);
  /* background-repeat: no-repeat; */
}

header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;

}

header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  /* 모서리는 div를 이용해서 둥글게 깎지만
  이미지는 둥글게 깎아진 밖으로 넘치는 부분을 가리기 */
  overflow: hidden;
  margin-bottom: 12px;
  /* 그림자 */
  box-shadow: 4px 4px 10px; rgba(0,0,0,.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  /* header의 높이 값 */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  height: 646px;
}

/* inner부분 생략 */
.visual .title{
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn{
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {

  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */

.notice {

}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  /* innerleft가 allign-items를 center로 하면 stretch가 풀리기 때문에, 높이 지정 */
  height: 62px;
  background-color: orange;
  flex-grow: 1;
  /* flex를 사용하면, allign items의 기본값이 stretch이기 때문에
    최대한 위아래로 늘어난다.
  */
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons{
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
}